<a href="https://colab.research.google.com/github/amirahzhafirazulkifli/amirahzhafirazulkifli/blob/main/Lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def functionPN(upper=2): # default value for no arguments then take default value
  list1=[]
  for num in range(2, upper + 1):
    if num > 1:
      for i in range(2, num):
        if num% i == 0:
          break
      else:
        list1.append(num) #to store many values!!!!
  return list1
  
#main
a=functionPN(10)
print(a)
b=functionPN()
print(b)
c=functionPN(15)
print(c)

[2, 3, 5, 7]
[2]
[2, 3, 5, 7, 11, 13]

In [ ]:
def friendname(*name): #arbituray parameter
  list1=[]
  if len(name)==0:
    return "nobody"
  else: 
    list1.append(name)
    return list1


onefriend= friendname("azlina") 
print("My friend(s):" , onefriend)
twofriend = friendname("Syafiq", "asyraf")
print("My friend(s):" , twofriend)
threefriend = (friendname("xa","ya","za"))
print("My friend(s):", threefriend)
nofriend = (friendname())
print("My friend(s):", nofriend)

My friend(s): [('azlina',)]
My friend(s): [('Syafiq', 'asyraf')]
My friend(s): [('xa', 'ya', 'za')]
My friend(s): nobody

In [ ]:
chars = 'abcdefghijklmnopqrstuvwxyz'
string = 'thequickbrownfoxjumpsoverthelazydog'

# function 
def countChar (text):
  charX = []
  num = []
  for i in chars:
    c = text.count(i)
    #print(i,c)
    if c > 1:
      charX.append(i)
      num.append(c)
  return charX,num
  
l1, l2=(countChar(string))
print(l1,l2)

#onebyone
index=0
for val in l1:
  print(val, l2[index])
  #print(val)
  index+=1
print()
#onebyne
for i in range(len(l1)):
  print(l1[i], l2[i])

['e', 'h', 'o', 'r', 't', 'u'] [3, 2, 4, 2, 2, 2]
e 3
h 2
o 4
r 2
t 2
u 2

e 3
h 2
o 4
r 2
t 2
u 2

In [ ]:
sample= "thequickbrownfoxjumpsoverthelazydog"

def countRepeated(samplestring, char): #want to check certain character
  count=0
  for i in samplestring:
    if i == char:
      count= count +1
  return (char, count)

#main
o= countRepeated(sample, "o")
print(o)
e= countRepeated(sample, "e")
print(e)
u= countRepeated(sample, "u")
print(u)
h= countRepeated(sample, "h")
print(h)
r= countRepeated(sample, "r")
print(r)
t= countRepeated(sample, "t")
print(t)

('o', 4)
('e', 3)
('u', 2)
('h', 2)
('r', 2)
('t', 2)

In [ ]:
l1= ['Red', 100, -50, 'green', 'w,3,r', 12.12, False]

mylist=[]
for i in l1:
  if (type(i) !=str):
    mylist.append(str(i))

  else:
    mylist.append(i)

print(mylist)
print("new list: ", l1)

x= ",".join(mylist)
print(x)

#join them
#print(l1)

['Red', '100', '-50', 'green', 'w,3,r', '12.12', 'False']
new list:  ['Red', 100, -50, 'green', 'w,3,r', 12.12, False]
Red,100,-50,green,w,3,r,12.12,False

In [ ]:
myTuple = (1,3,"John", "Peter", "Vicky",10.3,890000)

list1=[]
for i in myTuple:
 print(i)
 if (type(i) != str):
   list1.append(str(i))
 else:
  list1.append(i)
 
 #join them
print(myTuple)
print("new list!!")
print(list1)


x = " ".join(list1)
print(x)
print(type(x))

1
3
John
Peter
Vicky
10.3
890000
(1, 3, 'John', 'Peter', 'Vicky', 10.3, 890000)
new list!!
['1', '3', 'John', 'Peter', 'Vicky', '10.3', '890000']
1 3 John Peter Vicky 10.3 890000
<class 'str'>

In [ ]:
#**zip

num = [1,"b",3]
chars= ["a", 2, "c"]

for (a, b) in zip (num, chars):
  print (a,b)

1 a
b 2
3 c